<div class="card-list">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>About us</mat-card-title>
      <mat-card-subtitle>
        <mat-list role="list">
          <mat-list-item role="listitem">Hafiza Sultana</mat-list-item>
          <mat-list-item role="listitem">Some one else</mat-list-item>
          <mat-list-item role="listitem">Joe Blog</mat-list-item>
        </mat-list>
      </mat-card-subtitle>
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </mat-card-content>
  </mat-card>
</div>
