<div class="card-list">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Women Entrepreneurs Can</mat-card-title>
      <mat-card-subtitle>
        <mat-list role="list">
          <mat-list-item role="listitem">Exclusive interviews with industry experts and thought leaders.</mat-list-item>
          <mat-list-item role="listitem">How-to’s and training on everything from management to marketing.</mat-list-item>
          <mat-list-item role="listitem"> Ready-to-use information on how to build and run a successful business.</mat-list-item>
        </mat-list>
      </mat-card-subtitle>
      <img mat-card-xl-image src="/assets/img/app1.png" >
    </mat-card-title-group>
    <mat-card-content>
      If you’re a woman who owns a small business, a startup, or is just starting to think about launching your own business,
      Women Entrepreneurs Can (#Wecan) is for you. Each issue is packed with practical, usable information,
      written by women who understand the unique obstacles we face in a business world that’s typically dominated by men.
      From accounting principles and management tips to business sales strategy and marketing methodologies, you’ll find the know-how to get your business running successfully.
      All articles are written by experts in their selected fields and each issue is carefully planned to address challenges and build a community. Women Entrepreneurs Can is here to be a resource to you – so come for the content, stay for the camaraderie, and take your business to the next level.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Women’s Empowerment</mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
      <img mat-card-xl-image src="/assets/img/app2.png" >
    </mat-card-title-group>
    <mat-card-content>
      Radio One Inc., Women's Empowerment 2019. Get the app for the latest news, event information, live updates and tickets!
    </mat-card-content>
  </mat-card>
</div>
