.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 15px;
}

.example-card {
  max-width: 650px;
  margin: 15px;
  background: #f2f8fd;
  min-width: 650px;
}

.register-button {
  font-size: medium;
  height: 32px;
  background-color: white;
  border: none;
}
