<div class="card-list">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Mission and Vision</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Contact</mat-card-title>
      <mat-card-subtitle>Mile End Rd, Bethnal Green, London E1 4NS</mat-card-subtitle>
      <img style="height: 225px; width: 414px" mat-card-xl-image src="/assets/img/contact.png" >
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Training Programs</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img style="height: 155px; width: 260px" mat-card-sm-image src="/assets/img/trainingProgram.png" >
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Here To Help</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img style="height: 143px; width: 260px" mat-card-sm-image src="/assets/img/hereToHelp2.png" >
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Together We Change</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img style="height: 230px; width: 248px" mat-card-sm-image src="/assets/img/logo-app.png" >
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Women Empowerment and Sustainable Development</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img style="height: 143px; width: 260px" mat-card-sm-image src="/assets/img/development.png" >
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Stop Gender Violence</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img style="height: 164px; width: 265px" mat-card-sm-image src="/assets/img/stopViolence.png" >
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Share</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img style="height: 90px; width: 344px" mat-card-lg-image src="/assets/img/share2.png" >
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

</div>
